{deps_dirs,["deps"]}.
{test_node_name,"test@localhost"}.
{deps,
 [
  {zab_engine, ".*", {git, "http://github.com/xinmingyao/zab_engine.git", {tag, "master"}}},
  {eredis, ".*", {git, "http://github.com/xinmingyao/eredis.git", {tag, "master"}}},
  {cowboy, ".*", {git, "http://github.com/extend/cowboy.git", {tag, "master"}}},
   {meck, ".*", {git, "http://github.com/eproxus/meck.git", "master"}},
   {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
 ]}.

{erl_opts, [{parse_transform, lager_transform}]}.
             %% Make sure to set -fPIC when compiling redis	
%{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

%{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
